<ul class="sidebar-menu"  data-widget="tree">
	<li class="menubox"><h2 class="menutitle">Menu</h2></li>
		<li class="active ">
				<a href="#!/edit-profile2"  ng-click="editlink(); hidemenu()" >
					<img src="dist/menu/profile.png" class="menuimg">
					<div class="menutitle">Profile</div>
				</a>
		</li>
		 <li class="active" ng-click="showsetting()" >
				<a   >
					<img src="dist/menu/info.png" class="menuimg">
					<div class="menutitle" id="appinfunderline">App Info</div>
				</a>
		 </li>
		<!-- <li class="active">
				<a  href="#!/analytics"  ng-click="hidemenu()" >
					<img src="dist/menu/ananlytic.png" class="menuimg">
					<div class="menutitle">Analytics</div>
				</a>
		 </li>-->
		<!-- <li class="active">
				<a  id="hidesidemenu"  ng-click="logout(); hidemenu()"  >
					<img src="dist/menu/logout.png" class="menuimg">
					<div class="menutitle">Logout</div>
				</a>
		 </li>-->
	   <li class="active">
				<a  id="hidesidemenu"   data-toggle="modal" data-target="#logout"   ng-click=" hidemenu()" >
					<img src="dist/menu/logout.png" class="menuimg">
					<div class="menutitle">Logout</div>
				</a>
		 </li>
	  <li style="width:100%;">
		  <ul class="secondarymenu">
	  <li class="active treeview2" ng-show="activesubmenu == true" >
				<a href="#!/termandcondition"  ng-click=" hidemenu()" >
					<img src="dist/menu/tandc.png" class="menuimg">
					<div class="menutitle">T & C</div>
				</a>
		</li>
	   <li class="active treeview2" ng-show="activesubmenu == true" >
				<a href="#!/about"  ng-click="hidemenu()" >
					<img src="dist/menu/about2.png" class="menuimg">
					<div class="menutitle">About</div>
				</a>
		</li>
	  
	    <li class="active treeview2" ng-show="activesubmenu == true" >
				<a href="#!/support"  ng-click=" hidemenu()" >
					<img src="dist/menu/suppport.png" class="menuimg">
					<div class="menutitle">Support</div>
				</a>
		</li>
		 <li class="active treeview2" ng-show="activesubmenu == true" >
				<a href="#!/credits"  ng-click=" hidemenu()" >
					<img src="dist/menu/credit.png" class="menuimg">
					<div class="menutitle">Credits</div>
				</a>
		</li>
		  </ul>
	   </li>
</ul>


 
           