<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="backtobotman()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle">About</h3>
</div>
<section class=" container pagecontainer"  >
   <div class="row contentarea">
      <div class="col-md-12 text-center">
		  <br />
		  <br />
		  <br />
		 
		  <p class="finemanmessage"> ChAnge-Inc Beta Release v1.0.1 </p><p class="finemanmessage">	&copy; Change-inc.ai 2017</p><p class="finemanmessage"> All Rights Reserved.</p>
       <br />
		  <br />
   </div>
	   
	    <div  class="col-md-12 ">
		      <p class=" text-center"><b>PRIVACY POLICY</b></p>
			  <p class="staticinfo">This privacy policy governs your use of the software application [ChAnge-Inc]  for mobile devices that was created by Change-inc.ai. The Application is a learning assistant that helps solve problems, achieve goals and interests. </p>
			  <p class=""><b>What information does the Application obtain and how is it used?</b></p>
			  <p><b>User Provided Information </b></p>
			  <p class="staticinfo">The Application obtains the information you provide when you download and register the Application. Basic registration with us is mandatory. Any additional information that the app seeks is not mandatory. However, please keep in mind that you may not be able to use some of the features offered by the Application unless you register with us.
			  <p class="staticinfo">When you register with us and use the Application, you generally provide (a) your name, email address, age, user name, password and other registration information; (b) information you provide us when you contact us for help; (c) information you enter into our system when using the Application, such as contact information .
              <p class="staticinfo">We may also use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions.
			<p class=""><b>Automatically Collected Information </b></p>
			  <p class="staticinfo">In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device / computer you use, your mobile devices / computers unique device ID, the IP address of your mobile device, your mobile / computer operating system, the type of mobile / computerInternet browsers you use, and information about the way you use the Application. </p>
			<p><b>Does the Application collect precise real time location information of the device?</b></p>
			<p class="staticinfo">This Application does not collect precise information about the location of your mobile device or your compoter.</p>
			<p><b>Do third parties see and/or have access to information obtained by the Application?</b></p>
			<p class="staticinfo">Only aggregated, anonymized data is periodically transmitted to external services to help us improve the Application and our service. We will share your information with third parties only in the ways that are described in this privacy statement.</p>
			<p class="staticinfo">We may disclose User Provided and Automatically Collected Information:</p>
			<ul>
				<li>as required by law, such as to comply with a subpoena, or similar legal process;</li>
				<li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</li>
				<li>with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</li>
				<li>if change-inc.ai is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</li>
				
			</ul>
			<p><b>What are my opt-out rights?</b></p>
			<p class="staticinfo">You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device / computer.</p>
			<p><b>Data Retention Policy, Managing Your Information</b></p>
			<p class="staticinfo">We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at support@change-inc.ai and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p>
			<p><b>Children</b></p>
			<p class="staticinfo">We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at support@change-inc.ai. We will delete such information from our files within a reasonable time.</p>
			<p><b>Security</b></p>
			<p class="staticinfo">We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>
			<p><b>Changes</b></p>
			<p class="staticinfo">This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here and informing you via email or text message. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. You can check the history of this policy by clicking here.</p>
			<p><b>Your Consent</b></p>
			<p class="staticinfo">By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in India. If you reside outside the India your information will be transferred, processed and stored there under India privacy standards. </p>
			<p><b>Contact us</b></p>
			<p class="staticinfo">If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at support@change-inc.ai </p>

		  </div>
   </div>
</section>
