<!-- Main content -->
<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="backtobotman()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle">Credits</h3>
</div>
<section class=" container pagecontainer"  >
   <div class="row contentarea">
      <div class="col-md-12 text-center">
		  <br />
		  <div class="">
			  <p class="staticinfo">All copyrights of open source components used in this application are acknowledged as used under the license conditions provided by the developer.</p>
		  </div>
           <div class="">
			  <p class="staticinfo">All other code used in this application &copy; Change-inc.ai, 2017. All rights reserved.</p>
		  </div>
		   <div class="">
			  <p class="staticinfo" style="text-align:left;">OPEN SOURCE COMPONENTS USED IN THE APPLICATION</p>
		  </div>
		  <div class="">
			  <p class="staticinfo">AngularJS</p>
			  <p class="staticinfo align-left">License:<span class="bluecolor">https://github.com/angular/angular.js/blob/ master/LICENSE</span></p>
		  </div>
		  <div class="">
			  <p class="staticinfo">Bootstrap</p>
			  <p class="staticinfo align-left">License:<span class="bluecolor">https://github.com/twbs/bootstrap/blob/ master/LICENSE</span></p>
		  </div>
		   <div class="">
			 <p class="staticinfo">Apache Cordova</p>
			  <p class="staticinfo align-left">License:<span class="bluecolor">https://github.com/apache/cordova-plugin-device/blob/master/LICENSE</span></p>
		  </div>
		   <div class="">
			 <p class="staticinfo">Angular Carousel 3D </p>
			  <p class="staticinfo align-left">License:<span class="bluecolor">https://github.com/Wlada/angular-carousel-3d/blob/master/LICENSE</span></p>
		  </div>
		  
        
      
   </div>
   </div>
</section>
