<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="backtobotman()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle">Edit your profile</h3>
</div>

 
<section class=" container pagecontainer" ng-controller="ApplicatioCtrl" ng-controller="EditApplicatioCtrl" data-ng-init="editprofile()">
   <div class="chatcontainer ">
      
		  <div class="contentarea" >
			  <div class="col-md-12 text-center">
         <br />
         <div class="circle" ng-show="avatarselect == false">
            <img src="{{backimage}}" style="width:206px;     border-radius: 100%;"> 
            <div class="defaultcontainer" ng-show="avtarselection == true">
               <p>Pick your profile picture</p>
               <a id="facebook" ng-show="socialimage.length > 4" ng-click="avatarselected_edit(socialimage)">
               <img src="{{socialimage}}">
               </a>
               <a id="avatar" ng-click="showavtaroption()">
               <img src="dist/img/emptyimage.png">
               </a>
            </div>
         </div>
         <div class="circle" ng-show="avatarselect == true">
            <img src="dist/img/circlebackground.png" ng-click="hideavatar()" style="width:206px;">
            <div class="defaultcontainer">
               <p>Pick your Avatar !</p>
               <a id="facebook" ng-click="avatarselected_edit('dist/img/maleavatar.png')">
               <img src="dist/img/maleavatar.png">
               </a>
               <a id="avatar" ng-click="avatarselected_edit('dist/img/femaleavatar.png')">
               <img src="dist/img/femaleavatar.png">
               </a>
            </div>
         </div>
         <div class="alert-error" ng-show="updateerror.length > 3">{{updateerror}}</div>
         <form class="form" name="editformpage" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav" style="width:90%;" form-drctv>
            <div class="form-group loginwrapper editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.name" id="exampleInputEmail2" value="{{profiled.name}}" placeholder="Name" required>
            </div>
            <div class="form-group loginwrapper companywrap editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.company" id="exampleInputEmail2" value="{{profiled.companyname}}" placeholder="Company Name " required>
            </div>
            <div class="form-group loginwrapper emailwrap editprofile">
               <p class="expirencetitle">Year of Experience</p>
               <p class="expirencebutton" style="">
                  Year<input type="number" min="0" max="99" class="mobilefiled forexprenceimage" ng-model="profiled.year" id="exampleInputEmail2" value="{{profiled.year}}" placeholder="Year"  style="width:100px;" required>                              &nbsp;&nbsp;&nbsp;
                  Month<input type="number" min="0" max="11" class="mobilefiled forexprenceimage" ng-model="profiled.month" id="exampleInputEmail2" value="{{profiled.month}}" placeholder="Month"  style="width:100px;" required>
               </p>
            </div>
            <div class="form-group loginwrapper countrywrap editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.country" id="exampleInputEmail2" value="{{profiled.country}}" placeholder="Country " required>
            </div>
            <div class="form-group loginwrapper citywrap editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.city" id="exampleInputEmail2" value="{{profiled.city}}" placeholder="City " required>
            </div>
			 <div class="form-group loginwrapper industrywrap editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.industry" id="exampleInputEmail2" value="{{profiled.industry}}" placeholder="Industry " required>
            </div>
			 <div class="form-group loginwrapper functionalwrap editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.functional_area" id="exampleInputEmail2" value="{{profiled.functional_area}}" placeholder="Functional Area " required>
            </div>
			 <div class="form-group loginwrapper eductionwrap editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.education" id="exampleInputEmail2" value="{{profiled.education}}" placeholder="Education Level " required>
            </div>
			 <div class="form-group loginwrapper rolewrap editprofile">
               <i></i>
               <input type="text" class="form-control mobilefiled" ng-model="profiled.role_title" id="exampleInputEmail2" value="{{profiled.role_title}}" placeholder="Role Title " required>
            </div>
			
            <div class="form-group">
               <button type="button"    ng-click="updateprofile()" class="btn btn-primary col-md-6 appbutton" style="width: 100%;">Submit</button>
            </div>
         </form>
      </div>
      </div>
   </div>
</section>
