<!-- Main content -->
<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="logout()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle"></h3>
</div>
<section class=" container" ng-controller="ProfileCtrl" >
   <div class="row">
      <div class="col-md-12 text-center">
         <h1 style="padding: 21px 0px;     padding-bottom: 10px;"><img style="height:158px;" src="dist/img/login icon-93.png"></h1>
         
          <h3>Sign up with your email</h3>
		  <br />
		   <div class="alert-error" ng-show="siguperror.length > 3">{{siguperror}}</div>
         <form class="form" role="form" name="registerform" method="post" action="#" accept-charset="UTF-8" id="login-nav">
            <div class="form-group loginwrapper ">
				<i></i>
               <input type="text" class="form-control mobilefiled" ng-model="userprofile.name" id="exampleInputEmail2" value="" placeholder="Name" required>
            </div>
			 <div class="form-group loginwrapper emailwrap">
				<i></i>
               <input type="email" class="form-control mobilefiled" ng-model="userprofile.email" id="exampleInputEmail2" value="" placeholder="Email " required>
            </div>
            <div class="form-group passwordwrapper">
           <i></i>
               <input type="password" class="form-control mobilefiled"  ng-model="userprofile.password" id="exampleInputPassword2"  value=""  placeholder="Password" required>
              
            </div>
			 <div class="form-group passwordwrapper confirmpasswrap">
           <i></i>
               <input type="password" class="form-control mobilefiled"  ng-model="userprofile.confirmpassword" id="exampleInputPassword2"  value=""  placeholder="Confirm Password" required>
              
            </div>
            <div class="form-group">
              
               <button type="button"  ng-disabled="registerform.$valid == false " ng-click="register()" class="btn btn-primary col-md-6 appbutton" style="width: 100%;">Sign Up</button>
            </div>
		  </form>
        
      
   </div>
   </div>
</section>
