<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="backtobotman()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle">Analytics</h3>
</div>
<section class=" container"  >
   <div class="row contentarea">
      <div class="col-md-12 text-center">
       
         
          <h3></h3>
		  <br />
		 
      
   </div>
   </div>
</section>
