<!-- Main content -->
<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="backtobotman()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle">Support </h3>
</div>
<section class=" container pagecontainer"  ng-controller='supportCtrl'>
   <div class="row contentarea">
      <div class="col-md-12 text-center">
		   <form class="form" name="supportform" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav" style="width:80%;" form-drctv>
			   <br />
			   <br />
			   <button type="button"  data-toggle="modal" data-target="#Userguid"  ng-click="CarouselCtrl()" class="btn btn-primary col-md-6 appbutton" style="    width: 60%;
 
    margin-bottom: -8px;">View User Guide</button>
			   <br />
               <br />
		   <div class="form-group" ng-show="sendactive == true">
			   <p><i>Please write your message below to contact support@change-inc.ai:</i></p>
			   <textarea  class="form-control" ng-model="supportmessage" ng-show="sendactive == true" style="height:100px; border-radius: 12px;" required></textarea> 
			   </div>
		  <div class="form-group " ng-show="sendactive == true">
					<button type="button"  ng-disabled="supportform.$valid == false "  ng-click="sendmessage()" class="btn btn-primary col-md-6 appbutton" style="width: 100%;">Submit</button>
		 </div>
		  </form>
		  <p style="padding:30px;" ng-show="sendactive == false"><b>Thank you for contacting us. We will revert to you shortly.</b></p>
          
		 
      
   </div>
   </div>
</section>
