<!-- Main content -->
<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="backtobotman()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle">TERMS OF USE </h3>
</div>
<section class=" container pagecontainer"  >
   <div class="row contentarea">
      <div class="col-md-12 text-center">
        <ol class="staticpage">
         <li><p class="staticinfo">This application is hosted and owned by change-inc.ai having its office at 499, 3rd Cross, 7th Main, HAL 2nd Stage, Indiranagar , Bangalore 560038.  </p></li>
         <li><p class="staticinfo">The use of any service or feature (the "Materials") available through the application accessible at www.change-inc.ai  or through the Android Play Store and Apple App Store by any user of the application ("You" or "Your" hereafter) shall be governed by the following terms of use: </p>
		  <ol type="a" class="staticpage">
			  <li><p class="staticinfo">This Application, including all Materials present (excluding any applicable 3rd party materials), is the property of change-inc.ai and is copyrighted and protected by relevant copyright laws. You hereby agree to comply with all copyright laws worldwide in ‘Your’ use of this application. Change-inc.ai does not grant any express or implied rights to ‘You’ under any patents, trademarks, copyrights or other Intellectual Property laws.</p></li> 
			  <li><p class="staticinfo">Change-inc.ai has business relationships with various customers, suppliers, governments, and others. For convenience and simplicity, words like joint venture, partnership, and partner maybe used to indicate business relationships involving common activities and interests, and those words do not indicate precise legal relationships.</p></li> 
			  <li><p class="staticinfo">'You' agree not to interrupt or attempt to interrupt the operation of the Application in any manner.</p></li> 
			  <li><p class="staticinfo">Unless otherwise specified, all the materials of the Applicationis for ‘Your’ personal and non-commercial use. You shall not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from this Application.</p></li> 
			  <li><p class="staticinfo">THIRD PARTY CONTENT</p>
				 <p class="staticinfo">The Applicationmakes information of third parties available, including articles, analyst reports, news reports, tools which are for informative purposes only (the "Third Party Content"). You acknowledge and agree that the Third Party Content is not created or endorsed by Change-inc.ai. The provision of Third Party Content is for general informational purposes only and does not constitute a recommendation or solicitation to use the same. You acknowledge that the Third Party Content, on the Website,  is obtained from sources believed to be reliable, but that no guarantees are made by change-inc.ai or the providers of the Third Party Content as to its accuracy or completeness. You agree not to hold change-inc.ai offering services through the Applicationor any provider of Third Party Content liable for any investment decision or other transaction You may make decisions based on Your judgment and discretion. </p>
			  </li> 
			  <li><p class="staticinfo">EXTERNAL LINKS</p>
				  <p class="staticinfo">The Applicationprovides certain hyperlinks to third party websites. If You decide to visit any such site, You do so at ‘Your’ own risk and it is ‘Your’ responsibility to take all protective measures to guard against viruses or any other destructive elements if present at such sites. change-inc.ai makes no warranty or representation regarding, and does not endorse, any linked Websites or the information appearing thereon or any of the products or services described thereon. The links do not imply that change-inc.ai or this Application sponsors, endorses, is affiliated or associated with, or is legally authorized to use any of the content, the trademark, trade name, logo or copyright symbol displayed in or accessible through the links, or that any linked site is authorized to use any trademark, trade name, logo or copyright symbol of change-inc.aior any of its affiliates or subsidiaries. You hereby expressly acknowledge and agree that the linked sites are not under the control of change-inc.ai and change-inc.ai is not responsible for the contents of any linked site or any link contained in a linked site, or any changes or updates to such sites. change-inc.aiis providing these links to You only as a convenience, and the inclusion of any link shall not be construed to imply endorsement by change-inc.aiin any manner of that 3rd party website.</p>
			  </li> 
			  <li><p class="staticinfo">NO WARRANTIES</p>
				 <p class="staticinfo"> This Application, the information and materials on the Application, and any software made available on the Application, are without any representation or warranty, express or implied, of any kind. There is no warranty of any kind, express or implied, regarding third party content. In spite of change-inc.ai’s best endeavours, there is no warranty on behalf of change-inc.ai that this Applicationwill be free of any computer viruses.</p>
			  </li> 
			  <li><p class="staticinfo">LIMITATION OF DAMAGES</p>
				<p class="staticinfo">  At no event shall change-inc.aior any of its subsidiaries or affiliates shall be liable or held to be liable to any entity for any direct, indirect, special, consequential or other damages (including, without limitation, any lost profits, business interruption, loss of information or programs or other data on your information handling system) that are related to the use of, or the inability to use, the content, materials, and functions of this Application or any linked website, even if change-inc.ai is expressly advised of the possibility of such damages.</p>
			  </li> 
			  <li><p class="staticinfo">LAWFUL AND / OR PROHIBITED USE OF THE APPLICATION</p>
			 <p class="staticinfo"> As a condition of ‘Your’ use of the Web Site, You shall not use the Applicationfor any purpose(s) that is unlawful or prohibited by the Terms of Use. You shall not use the Applicationin any manner that could damage, disable, overburden, or impair any change-inc.aiserver, or the network(s) connected to any change-inc.ai server, or interfere with any other party's use and enjoyment of any services associated with the Web Site. You shall not attempt to gain unauthorized access to any section of the Web Site, other accounts, computer systems or networks connected to any change-inc.ai server or to any of the services associated with the Application, through hacking, password mining or any other means. You shall not obtain or attempt to obtain any Materials or information through any means not intentionally made available through the Application.</p>
			  </li> 
			  <li><p class="staticinfo">INDEMNITY</p>
				<p class="staticinfo">  You agree to indemnify and hold harmless change-inc.ai, its subsidiaries and affiliates from any claim, cost, expense, judgment or other loss relating to Your use of this Applicationin any manner, including without limitation of the foregoing, any action You take which is in violation of the terms and conditions of these Terms of Use and against any applicable law.</p>
			  </li> 
			  <li><p class="staticinfo">CHANGES</p>
				<p class="staticinfo">  change-inc.aireserves the rights, at its sole discretion, to change, modify, add or remove any portion of these Terms of Use in whole or in part, at any time. Changes in these Terms of Use will be effective when notice of such change is posted. Your continued use of the Applicationafter any changes to these Terms of Use are posted will be considered acceptance of those changes. change-inc.ai may terminate, change, suspend or discontinue any aspect of the Application, including the availability of any feature(s) of the Application, at any time. change-inc.ai may also impose limits on certain features and services or restrict Your access to certain sections or all of the Application without notice or liability. You hereby acknowledge and agree that change-inc.ai may terminate the authorization, rights and license given above at any point of time at its own sole discretion and upon such termination; You shall immediately destroy all Materials.</p>
			  </li> 
			  <li><p class="staticinfo">DATA</p>
				<p class="staticinfo">  This version of the application is a beta-test and will undergo changes basis user feedback and other business considerations. In the process, this version of the application might not be available to users after a certain period of time. The data associated with this period of use will also not be available. This data may or maynot be carried forward to newer versions of the application.</p>
			  </li> 
			  <li><p class="staticinfo">INTERNATIONAL USERS AND CHOICE OF LAW</p>
				  <p class="staticinfo">These Terms of Use shall be governed by the laws of India, without giving effect to its conflict of laws provisions. You agree that the appropriate court(s) in Bangalore, India, will have the exclusive jurisdiction to resolve all disputes arising under these Terms of Use and You hereby consent to personal jurisdiction in such forum.</p>

<p class="staticinfo">These Terms of Use constitutes the entire agreement between change-inc.aiand You with respect to Your use of the Application. Any claim You may have with respect to Your use of the Applicationmust be commenced within one (1) year of the cause of action. If any provision(s) of this Terms of Use is held by a court of competent jurisdiction to be contrary to law then such provision(s) shall be severed from this Terms of Use and the other remaining provisions of this Terms of Use shall remain in full force and effect.</p>
			  </li> 
			  <li><p class="staticinfo">CONTACT</p>
				 <p class="staticinfo"> change-inc.ai 499, 3rd Cross, 7th Main,HAL 2nd stage, Indranagar, Bangalore- 560038<br />
					 Email:support@change-inc.ai</p>
			  </li> 
			   
		  </ol>
			</li>
		  </ol>
		  
		  
        
      
   </div>
   </div>
</section>
