<!DOCTYPE html>
<html class="no-js">
   <!--<![endif]-->
   <head>
      <!-- Meta-Information -->
      <meta charset="utf-8">
	   <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Fine Man</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->
	 
      <link rel="stylesheet" href="library/bootstrap/css/bootstrap.min.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="library/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
      <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
      <!-- Morris chart -->
	   <link rel="stylesheet" href="library/3d/carousel-3d.css">
      <link rel="stylesheet" href="dist/css/custom.css">
     
   </head>
   <body class="hold-transition skin-blue sidebar-mini" ng-app="changeincApp">
	   		<div class="wrapper">
	       <header ng-include='"templates/header.html"' class="main-header" ng-show="loginactive == true"> </header>
		  <div class="content-wrapper hidebeforeload"  ng-click="hidemenu()" ng-view></div>
		  <aside ng-include='"templates/menu.html"' class="control-sidebar control-sidebar-dark"></aside>
		  </div>
	      <script src="cordova.js"></script>
		  <script src="index.js"></script>
		
		  <script src="library/jquery/jquery.min.js"></script>
		  <!-- jQuery UI 1.11.4 -->
		  <script src="library/jquery-ui/jquery-ui.min.js"></script>
		  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		  <!-- Bootstrap 3.3.7 -->
		  <script src="library/bootstrap/js/bootstrap.min.js"></script>
		  <script src="library/jquery-slimscroll/jquery.slimscroll.js"></script>
		  <script src="dist/js/adminlte.min.js"></script>
		  <script src="dist/js/pages/dashboard.js"></script>
		  <!-- Vendor: Angular, followed by our custom Javascripts -->
		  <script src="library/angular.min.js"></script>
		  <script src="library/angular-route.min.js"></script>
		   <script src="library/angular-sanitize/angular-sanitize.js"></script>
		   <script src="library/angular-swipe/dist/angular-swipe.js"></script>
	 	  <script src="library/angular-touch.js"></script>
		
		  <!-- Our Website Javascripts -->
		  <script src="library/ng-youtube-embed.min.js"></script>
		  <script src="library/ui-bootstrap-tpls.min.js"></script>
		   <script src="library/3d/carousel-3d.js"></script>
		  <script src="library/angularjs-social-login.js"></script>
	       <script src="library/phonegap.facebook.inappbrowser.js"></script>
		  <script src="app/app.js"></script>
		  <script src="app/ApplicatioCtrl.js"></script>
		  <script src="app/ProfileCtrl.js"></script>
	      <script src="app/UserguidCtrl.js"></script>
	      <script src="app/supportCtrl.js"></script>
	   <!-- For Android -->
	    <script>
		     FacebookInAppBrowser.settings.appId = '933351030036534';
			 FacebookInAppBrowser.settings.redirectUrl = 'https://www.facebook.com/connect/login_success.html';
			 FacebookInAppBrowser.settings.timeoutDuration = 15000;
			 
			
	   </script>
	 
	   <!-- For Web -->
	 <div class="nointernet text-center" ng-click="hideinterneterror()" ng-show="internetstatus == true">
		  
	  </div>
	  <div ng-show="loader == true"class="loadercontainer" ><div class="loader"></div></div>
	  <div class="loadercontainer splashcontainer" ng-show="splashscreen == true"></div>
	  
	   
   <div id="logout" class="modal fade" role="dialog" >
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
           
            <div class="modal-body">
				<h2>Do you want to Logout?</h2>
				<div class="form-group">
				   <button type="button" ng-click="logout()"  data-dismiss="modal" class="btn btn-primary col-md-2 appbutton lgoinbutton">Yes</button>
				   <button type="button" data-dismiss="modal" class="btn btn-primary col-md-2 appbutton signupbutton logoutcancle">No</button>
				</div>
				<br />
            </div>
         </div>
      </div>
   </div>
	   
   <div id="Userguid" class="modal fade" role="dialog" >
      <div class="modal-dialog">
       <!-- Modal content-->
         <div class="modal-content">
           
            <div class="modal-body">
					<section class=""  >
						<div>
						  <carousel interval="myInterval"  >
							<slide ng-repeat="slide in slides"   ng-swipe-left="next(slide.active)"  ng-swipe-right="prev(slide.active)" active="slide.active">
							  <img ng-src="{{slide.image}}">
								  <h4 ng-show="$index == 4" class="closebutton"><a type="button" class="close" data-dismiss="modal" ><img src="dist/img/videoclose.png"></a>
								</h4>
							</slide>
						  </carousel>
							
						</div>
					</section>
            </div>
         </div>
      </div>
   </div>
	   
	   
	   
	   
	   <script type="text/javascript">
 		 app.initialize();
		   var onDeviceReady = function(){
			
		   		document.addEventListener("backbutton", onBackKeyDown, false);
		   }
			function onBackKeyDown() {
				
				navigator.Backbutton.goHome(function() {
					console.log('success')
				}, function() {
					console.log('fail')
				});
			}
     </script>
   </body>
</html>
