<!-- Main content -->
<section class=" container" ng-controller="ProfileCtrl" >
   <div class="row contentarea" ng-show="actiavetecode == false">
      <div class="col-md-12 text-center">
         <h1 style="padding: 21px 0px;"><img style="height:158px;" src="dist/img/login icon-93.png"></h1>
		 
		  <h3>Forgot Your Password?</h3>
		  <p>Enter Your e-Mail to reset your password</p>
           <br />
         <form class="form" name="forgotpassword" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav" style="    width: 89%;">
            <div class="form-group forgotpasswordwrapper">
				<i></i>
               <input type="email" class="form-control mobilefiled" ng-model="forgotvar.email" id="exampleInputEmail2" value="" placeholder="Email address" required>
            </div>
            
            <div class="form-group">
               <button type="button" ng-disabled="forgotpassword.$valid == false "  ng-click="forgotpassword()" class="btn btn-primary col-md-3 appbutton lgoinbutton">Submit</button>
               <button type="button" ng-click="goback()" class="btn btn-primary col-md-3 appbutton signupbutton">Cancel</button>
               
            </div>
           
     
		   </form>
		 </div>
	   
   </div>
	<div class="row contentarea" ng-show="actiavetecode == true">
      <div class="col-md-12 text-center">
         <h1 style="padding: 21px 0px;"><img style="height:158px;" src="dist/img/login icon-93.png"></h1>
		 
		  <h3>Forgot Your Password?</h3>
		  <p>Code send to your e-Mail to reset your password</p>
           <br />
         <form class="form" name="forgotpassword" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav" style="    width: 89%;">
            <div class="form-group forgotpasswordwrapper">
				<i></i>
               <input type="text" class="form-control mobilefiled" ng-model="forgotvar.code" id="exampleInputEmail2" value="" placeholder="Code" required>
            </div>
            <div class="form-group forgotpasswordwrapper">
				<i></i>
               <input type="text" class="form-control mobilefiled" ng-model="forgotvar.password" id="exampleInputEmail2" value="" placeholder="New Password" required>
            </div>
            <div class="form-group">
               <button type="button" ng-disabled="forgotpassword.$valid == false "  ng-click="forgotpassword()" class="btn btn-primary col-md-3 appbutton lgoinbutton">Reset</button>
               <button type="button" ng-click="goback()" class="btn btn-primary col-md-3 appbutton signupbutton">Cancel</button>
               
            </div>
           
     
		   </form>
		 </div>
	   
   </div>
</section>
