<!-- Main content -->
<section class=" container" ng-controller="ProfileCtrl"   data-ng-init="setinit()" >
   <div class="row">
      <div class="col-md-12 text-center">
         <h1 style="padding: 21px 0px;"><img style="height:158px;" src="dist/img/login icon-93.png"></h1>
         
          <div class="alert-error" ng-show="loginerror.length > 3">{{loginerror}}</div>
         <form class="form" name="loginformpage" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav">
            <div class="form-group loginwrapper">
				<i></i>
               <input type="email" class="form-control mobilefiled" ng-model="loginvar.userid" id="exampleInputEmail2" value="" placeholder="Email address" required>
            </div>
            <div class="form-group passwordwrapper">
           <i></i>
               <input type="password" class="form-control mobilefiled"  ng-model="loginvar.password" id="exampleInputPassword2"  value="admin123"  placeholder="Password" required>
               <div class="help-block text-right forgotlink"><a href="#!/forgot_password" >Forgot ?</a></div>
            </div>
            <div class="form-group">
               <button type="button" ng-disabled="loginformpage.$valid == false " ng-click="login()" class="btn btn-primary col-md-3 appbutton lgoinbutton">Sign In</button>
               <button type="button" ng-click="signup()" class="btn btn-primary col-md-3 appbutton signupbutton">Sign Up</button>
            </div>
           
      
		   </form>
		 </div>
	     
      <!--<div class="divider-text">
		  or Connect With
			 </div>-->
	   <div class="divider">
		   	<div class="col-xs-4 line">
				&nbsp;
		   </div>
		   <div class="col-xs-4 text-center" style="padding:0px">
			   or connect with 
		   </div>
		   <div class="col-xs-4 line">
			   &nbsp;
		   </div>
	   </div>
	    <!--<div class="social-buttons text-center">
            <a fb-login class="googlelogin" type="button" href="javascript:return false;"><img src="dist/img/login_icon-91.png"></a>
            <a class="facebooklogin" g-login type="button"  href="javascript:return false;"><img src="dist/img/login_icon-92.png"></a>
         </div>-->
	    <div class="social-buttons text-center">
            <a  class="googlelogin" type="button" ng-click="fblogin()" href="javascript:return false;"><img src="dist/img/login_icon-91.png"></a>
            <a class="facebooklogin"  type="button"  ng-click="googlelogin()"  href="javascript:return false;"><img src="dist/img/login_icon-92.png"></a>
         </div>
   </div>
</section>
