<!-- Main content -->
<section class=" container" ng-controller="ProfileCtrl" >
   <div class="row contentarea">
      <div class="col-md-12 text-center">
         <h1 style="padding: 21px 0px;     padding-bottom: 10px;"><img style="height:158px;" src="dist/img/login icon-93.png"></h1>
         
          <h3 style="font-size: 19px;">{{sigupmessage}}</h3>
		  <br />
		   <div class="alert-error" ng-show="siguperror.length > 3">{{siguperror}}</div>
         <div class="text-center">
            Ready to login ? <a href="#!/login" id="login_id">login</a>
        </div>
        
      
   </div>
   </div>
</section>


