<!-- Main content -->
<div class="pagetitle" >
      <div class="backbutton" ><img   ng-click="closeuserguid()" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle"></h3>
</div>
<section class=" container" ng-controller="UserguidCtrl" >
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
        <h4 >Slide {{$index+1}}</h4>
        </slide>
      </carousel>
    </div>
</section>
