 <!-- Main content -->
 <section class="content" ng-controller="ApplicatioCtrl">
                     <div class="wrapper" >
            <div class="content-wrapper"  >
               <div class="container row">
                  <section class="connectedSortable " style="margin:0px auto;">
                     <div class="box box-success">
                        
                        <div class="box-body chat mydivboxscroll" id="chat-box" >
                           <!-- chat item -->
                           <div class="item" ng-repeat="x in messages">
                              <img src="{{x.imageyou}}" alt="user image" class="online">
                              <p class="message">
                                 <a href="#" class="name">
                               
                                 {{x.yourname}}
                                 </a>
                                 {{x.message}}
                              </p>
                              <div class="attachment" ng-show="x.butt.length > 0">
                                  <div class="buttoncontainer" >
                                 <div class="pull-left bttncontaner" ng-repeat="b in x.butt">
                                    <button type="button" ng-click="showyesnow(b.postback, b.confirmtext)" class="btn btn-primary  appbutton2 disableafterclick">{{b.text}}</button>
                                 </div>
                                  </div>
                              </div>
                              <div class="attachment" ng-show="x.url.length > 0">
								 
								<div class="pull-left buttoncontainer">
								
                                  <div class="youtubevideo" style="width: 264px;" ng-repeat="u in x.url">
                                   <!-- <ng-youtube-embed video="ur.u" width="100%" height="200px" enablejsapi="true"  onready="playerReady" onstatechange="playerStateChanged"></ng-youtube-embed>-->
									  <div>
										  <img src="{{u.u.videoImageLink}}">
										  <h3 style="font-size:14px;">{{u.u.videoTitle}}</h3>
										  
									  </div>
                                  </div>
							   </div>
								  
                              </div>
							   <div class="attachment" ng-show="x.imgurl.length > 0">
								 
								<div class="pull-left buttoncontainer">
								
                                  <div class="youtubevideo" style="width: 299px;" ng-repeat="linkurl in x.imgurl">
                                      <img src="{{linkurl.link}}">
                                  </div>
							   </div>
								  
                              </div>
                              <div class="attachment" ng-show="x.yesno == true">
                                 <div class="pull-right" >
                                    <button type="button" ng-click="postbackmessage()" class="btn btn-primary appbutton">Yes</button>
                                 </div>
                                 <div class="pull-right" >
                                    <button type="button" ng-click="canclepostback()" class="btn btn-warning appbutton">No</button>
                                 </div>
                              </div>
							
                           </div>
                        
                           <div ng-show="loader == true">
                              <img src="http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif" style="width:100px;">
                           </div>
                        </div>
                        <div class="box-footer">
                           <form ng-submit="getusermessage() ">
                              <div class="">
                                 <input class="form-control" ng-model="textdata" placeholder="Type message...">
                              </div>
                                <button type="button" class="btn btn-success pull-right"  ng-click="getusermessage()" ><i class="fa fa-paper-plane"></i></button>
                              <input style="display:none;" type="submit" name="Submit" value="Submit"/>
                           </form>
                        </div>
                     </div>
                     <!-- /.box (chat box) -->
                  </section>
               </div>
               <!-- /.row (main row) -->
             
               <!-- /.content -->
            </div>
            <!-- Control Sidebar -->
        
         </div>
         <!-- ./wrapper -->
 </section>
 <style>
     button.btn.btn-success.pull-right {
    position: absolute;
    right: 1px;
    bottom: 1px;
     }
}
 </style>



<!-- Modal -->
<div id="youtubevideo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" width="1200px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Video Title</h4>
      </div>
      <div class="modal-body">
       <iframe id="video"      width="374px" height="309px" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" autoplay="1" allowfullscreen></iframe>
      </div>
   
    </div>

  </div>
</div>