<!-- Main content -->
<div ng-controller="ApplicatioCtrl" data-ng-init="getactivemodule()" >
<div class="pagetitle" >
      <div class="backbutton" ng-show="activechat == true"><img   ng-click="postback('I want to go to the Fineman home page','')" src="dist/img/backbutton.png"></div>
      <h3 class="finemantitle">Fine-man </h3>
</div>
<section class=" container pagecontainer" >
   <div class="row contentarea" id="removeaddclass">
      <div class="col-md-12 text-center" ng-show="activechat == false">
         <h3 class="finemanmessage" style="text-align:left;">Hi, I am Fine-man! My job is to help with any learning needs that you have. Presently, I can help you solve a few problems you may be facing.</h3>
         <div class="circle">
            <img src="dist/img/fineman.png" style="width:200px; cursor: pointer;"  ng-click="showinfobox()">
         </div>
		  <div class="infobox" style="display:none;">
			  <p><img src="dist/img/up.png" ng-click="hideinfobox()"></p>
			  	<p class="messageinfo">My Name is Fine-man (Not related to the famous Physicist, but hopefully as smart!).<br /><br />  My job is to make learning count for YOU. To help you grow and achieve more out of life!<br /><br /> I can presently help you with solving a few problems, but soon will be also able to help you achieve your goals and focus on your interests.<br /><br /> This is a journey, I take with you to personalize this growth experience. I don’t know everything, but will endeavor to learn and serve you better.</p>
			  <p><img src="dist/img/up.png"  ng-click="hideinfobox()"></p>
		  </div>
         <br />
         <div class="form-group loginwrapper " ng-show="profile.solvemyproble == 'enable'">
            <input type="button" class="form-control mobilefiled" ng-click="postback('I want to solve a problem','Solve my Problem')" id="prfilebutton"  value="Solve my Problem" required>
         </div>
		  <div class="form-group loginwrapper inactivebutton" ng-show="profile.solvemyproble != 'enable'" >
            <input type="button" class="form-control mobilefiled inactivebutton"  id="prfilebutton"  value="Solve my Problem" required>
         </div>
         <div class="form-group loginwrapper emailwrap" ng-show="profile.learnmyintrest == 'enable'">
            <input type="button" class="form-control mobilefiled" ng-click="postback('I want to learn something','Learn my Interests')" id="prfilebutton"  value="Learn my Interests" required>
         </div>
		  <div class="form-group loginwrapper emailwrap inactivebutton" ng-show="profile.learnmyintrest != 'enable'">
            <input type="button" class="form-control mobilefiled inactivebutton" id="prfilebutton"  value="Learn my Interests" required>
         </div>
         <div class="form-group passwordwrapper" ng-show="profile.achivemygoal == 'enable'">
            <input type="button" class="form-control mobilefiled "  ng-click="postback('I want to achieve my goals','Achieve my Goals')" id="prfilebutton"   value="Achieve my Goals" required>
         </div> 
		  <div class="form-group passwordwrapper inactivebutton" ng-show="profile.achivemygoal != 'enable'">
            <input type="button" class="form-control mobilefiled inactivebutton"   id="prfilebutton"   value="Achieve my Goals" required>
         </div> 
		 
		  <br />
      </div>
      <div class="chatcontainer" ng-show="activechat == true">
         <div class="box-body chat direct-chat-messages mydivboxscroll" id="chat-box" ng-show="activechat == true" >
            <!-- chat item -->
            <div ng-repeat="x in messages"  class="direct-chat-msg item {{x.classname}}" >
              
               <img src="{{x.imageyou}}" alt="user image" class="direct-chat-img online">
              
               <div class="direct-chat-text">
                  {{x.message}}&nbsp;
				   <span class="" ng-show="x.likestatus.length > 0">
					  <span class="pull-right" ng-show="x.likestatus == 'Yes'" >
						 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="likeimage" src="dist/img/thumbup.png">
					  </span>
					  <span class="pull-right" ng-show="x.likestatus == 'No'">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="likeimage"  src="dist/img/thumbdown.png">
					  </span>
				   </span>
				   	 <div class="botmancallout" ng-show="x.classname == 'botclass'"><img src="dist/img/coloutbot.png" class="coloutbot"></div>
		    		 <div class="mycallout" ng-show="x.classname != 'botclass'"><img src="dist/img/coloutmy.png" class="coloutmy"></div>
					 
               </div>
               <div class="attachment buttonattachmet" ng-show="x.butt.length > 0">
                  <div class="buttoncontainer" >
                     <div class="pull-left bttncontaner" ng-repeat="b in x.butt">
                        <button type="button" ng-click="postback(b.postback, b.text)" ng-hide="b.postback == 'Currently not supported by Fine-man'" class="btn btn-primary  appbutton2   disableafterclick">{{b.text}}</button>
                     </div>
                  </div>
               </div>
               <div class="attachment nopadding" ng-show="x.url.length > 0">
                  <div class="pull-left buttoncontainer buttoncontainer2">
                    
                     <carousel3d
                        ng-model="x.url"
                        options="options"
                        on-selected-click="selectedClick(index)"
                        on-slide-change="slideChanged(index)"
                        on-last-slide="lastSlide(index)"
                        on-before-change="beforeChange(index)">
                        <carousel3d-slide ng-repeat="u in x.url">
                           <figure  ng-class="{'activebox': u.u.viewed == 1}">
                              <img ng-src="{{u.u.videoImageLink}}" ng-click="playvideo(u.u.videoURL)" data-toggle="modal" data-target="#youtubevideo"  data-backdrop="static" data-keyboard="false"  alt=""/>
                              <figcaption ng-class="{'activebox': u.u.viewed == 1}" ng-bind="u.u.videoTitle"></figcaption>
                           </figure>
                        </carousel3d-slide>
                     </carousel3d>
                  </div>
                  <!-- </div>-->
               </div>
               <div class="attachment" ng-show="x.imgurl.length > 0">
                  <div class="pull-left buttoncontainer">
                     <div class="youtubevideo imagecontainer"  ng-repeat="linkurl in x.imgurl">
                        <img src="{{linkurl.link}}">
                     </div>
                  </div>
               </div>
              
			   <div class="attachment buttonattachmet videolike" ng-show="x.buttvideo.length > 0">
                  <div class="buttoncontainer" style="    width: 148px;    margin: 0px auto;">
                     <div class="pull-left bttncontaner" ng-repeat="b in x.buttvideo">
                        <button type="button"  ng-click="videovote(b.postback, b.text)" class="likedislike disableafterclick">
							<img class="likeimage2 likeNo" ng-show="b.text == 'No'"  src="dist/img/thumbdown.png">
							<img class="likeimage2 likeYes" ng-show="b.text == 'Yes'"  src="dist/img/thumbup.png">
						 </button>
                     </div>
                  </div>
               </div>
              
            </div>
           
            <div ng-show="loader == true">
               <img src="progress.gif" style="width:100px;">
            </div>
         </div>
      </div>
      <div class="box-footer">
         <form ng-submit="getusermessage() ">
            <div class="">
               <input class="form-control chattext" style="width:{{textboxsize}}%" ng-focus="focusin()" ng-blur="focusout()"  ng-keypress="focusinkey()" ng-model="textdata" placeholder="Type message...">
            </div>
            <div class="buttonbox" style="width:{{widthbox}}px" >
               <a href="javascript:return false" ng-show="votingdisable == false" ng-click="thumbupmessage('like','Yes')"><img src="dist/img/thumbup.png"></a>
               <a href="javascript:return false" ng-show="votingdisable == false" ng-click="thumbupmessage('dislike','No')"><img src="dist/img/thumbdown.png"></a>
               <a href="javascript:return false" ng-click="getusermessage()"><img src="dist/img/sendmessage.png"></a>
            
            </div>
            <input style="display:none;" type="submit" name="Submit" value="Submit"/>
         </form>
      </div>
   </div>
 
   <div id="youtubevideo" class="modal fade" role="dialog" >
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" ng-click="postbackvideo('I have viewed the learning content','')"><img src="dist/img/videoclose.png"></button>
               <h4 class="modal-title">&nbsp;</h4>
            </div>
            <div class="modal-body">
               <iframe id="myyoutubevideo"  width="100%" height="309px"  src="{{videourl}}" frameborder="0" autoplay="1"  allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
         </div>
      </div>
   </div>
</section>
</div>
