<!-- Main content -->
<section class=" container" ng-controller="ApplicatioCtrl">
   <div class="pagetitle" >
      <div class="backbutton"    ng-show="activechat == true" ><img  data-toggle="modal" data-target="#alertchat" src="dist/img/backbutton.png"></div>
      <h3>Fineman </h3>
   </div>
   <div class="row">
      <div class="col-md-12 text-center" ng-show="activechat == false">
         <h3 class="finemanmessage">Hi ! I am Fineman. My job is to make you more successful by helping you learn things you need to grow! Please choose what you want to start with today!</h3>
         <div class="circle">
            <img src="dist/img/fineman.png" style="width:209px;">
         </div>
         <br />
         <div class="form-group loginwrapper ">
            <input type="button" class="form-control mobilefiled" ng-click="postback('I want to solve a problem','Solve my Problem')" id="prfilebutton"  value="Solve my Problem" required>
         </div>
         <div class="form-group loginwrapper emailwrap">
            <input type="button" class="form-control mobilefiled" ng-click="postback('I want to learn something','Learn my Interests')" id="prfilebutton"  value="Learn my Interests" required>
         </div>
         <div class="form-group passwordwrapper">
            <input type="button" class="form-control mobilefiled"  ng-click="postback('I want to achieve my goals','Achieve my Goals')" id="prfilebutton"   value="Achieve my Goals" required>
         </div>
      </div>
      <div class="chatcontainer" ng-show="activechat == true">
         <div class="box-body chat direct-chat-messages mydivboxscroll" id="chat-box" ng-show="activechat == true" >
            <!-- chat item -->
            <div ng-repeat="x in messages"  class="direct-chat-msg item {{x.classname}}" >
               <!--<div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left">{{x.yourname}}</span>
                  <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                  </div>-->
               <img src="{{x.imageyou}}" alt="user image" class="direct-chat-img online">
               <!-- <p class="message">
                  <a href="#" class="name">
                  
                  {{x.yourname}}
                  </a>
                  {{x.message}}
                  </p>-->
               <div class="direct-chat-text">
                  {{x.message}}
               </div>
               <div class="attachment" ng-show="x.butt.length > 0">
                  <div class="buttoncontainer" >
                     <div class="pull-left bttncontaner" ng-repeat="b in x.butt">
                        <button type="button" ng-click="postback(b.postback, b.text)" class="btn btn-primary  appbutton2 disableafterclick">{{b.text}}</button>
                     </div>
                  </div>
               </div>
               <div class="attachment" ng-show="x.url.length > 0">
                  <div class="pull-left buttoncontainer buttoncontainer2">
                    
                     <carousel3d
                        ng-model="x.url"
                        options="options"
                        on-selected-click="selectedClick(index)"
                        on-slide-change="slideChanged(index)"
                        on-last-slide="lastSlide(index)"
                        on-before-change="beforeChange(index)">
                        <carousel3d-slide ng-repeat="u in x.url">
                           <figure>
                              <img ng-src="{{u.u.videoImageLink}}" ng-click="playvideo(u.u.videoURL)" data-toggle="modal" data-target="#youtubevideo"  alt=""/>
                              <figcaption ng-bind="u.u.videoTitle"></figcaption>
                           </figure>
                        </carousel3d-slide>
                     </carousel3d>
                  </div>
                  <!-- </div>-->
               </div>
               <div class="attachment" ng-show="x.imgurl.length > 0">
                  <div class="pull-left buttoncontainer">
                     <div class="youtubevideo" style="width: 299px;" ng-repeat="linkurl in x.imgurl">
                        <img src="{{linkurl.link}}">
                     </div>
                  </div>
               </div>
               <div class="attachment" ng-show="x.yesno == true">
                  <div class="pull-right" >
                     <button type="button" ng-click="postbackmessage()" class="btn btn-primary appbutton">Yes</button>
                  </div>
                  <div class="pull-right" >
                     <button type="button" ng-click="canclepostback()" class="btn btn-warning appbutton">No</button>
                  </div>
               </div>
               <!--<div class="attachment" >
                  <button type="button" 
                  	id="testBtn" 
                  	class="btn btn-success fa fa-thumbs-up" 
                  	data-loading-text=" ... ">
                  4</button>
                  <button type="button" id="testBtnDown" class="btn btn-success fa fa-thumbs-down" data-loading-text=" ... ">
                  4</button>
                  <input type="button" value="Playvideo" data-toggle="modal" data-target="#youtubevideo">
                                       </div>-->
               <!-- /.attachment -->
            </div>
            <!-- /.item -->
            <!-- chat item -->
            <div ng-show="loader == true">
               <img src="progress.gif" style="width:100px;">
            </div>
         </div>
      </div>
      <div class="box-footer">
         <form ng-submit="getusermessage() ">
            <div class="">
               <input class="form-control" ng-model="textdata" placeholder="Type message...">
            </div>
            <div class="buttonbox">
               <a href="javascript:return false" ng-click="thumbupmessage()"><img src="dist/img/thumbup.png"></a>
               <a href="javascript:return false" ng-click="thumbdownmessage()"><img src="dist/img/thumbdown.png"></a>
               <a href="javascript:return false" ng-click="getusermessage()"><img src="dist/img/sendmessage.png"></a>
               <!-- <button type="button" class="btn btn-success pull-right"  ng-click="getusermessage()" ><i class="fa fa-paper-plane"></i></button>-->
            </div>
            <input style="display:none;" type="submit" name="Submit" value="Submit"/>
         </form>
      </div>
   </div>
   <!-- Modal -->
   <div id="youtubevideo" class="modal fade" role="dialog" >
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" ng-click="postback('I have viewed the learning content','')">&times;</button>
               <h4 class="modal-title">Video Title</h4>
            </div>
            <div class="modal-body">
               <iframe id="myyoutubevideo"  width="100%" height="309px"  src="{{videourl}}" frameborder="0" autoplay="1"  allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
         </div>
      </div>
   </div>
   <div id="alertchat" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content alertpopup" >
            <div class="modal-header">
               
               <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
				<p>If you go back your conversation history will be lost !</p>
				<br />
               <div class="form-group">
                  <button type="button" ng-click=" postback('I want to close the conversation','')" data-dismiss="modal"  class="btn btn-primary col-md-3 appbutton lgoinbutton">Ok</button>
                  <button type="button"  data-dismiss="modal" class="btn btn-primary col-md-3 appbutton signupbutton">Cancel</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>